<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyu.dao.BookMapper">

	<resultMap type="com.wyu.entity.Book" id="bookResultMap">
		<id property="id" column="id" />
		<result property="bookName" column="book_name"/>
		<result property="space" column="space"/>
		<result property="bookCount" column="book_count"/>
		<result property="info" column="info"/>
		<result property="createDate" column="create_date"/>
		<association property="country" column="country_id" javaType="com.wyu.entity.Country" >
			<id property="id" column="cid"/>
  			<result property="countryName" column="country_name"/>
		</association>
		<association property="theme" column="theme_id" javaType="com.wyu.entity.Theme">
			<id property="id" column="tid"/>
  			<result property="themeName" column="theme_name"/>
		</association>
		<association property="type" column="type_id" javaType="com.wyu.entity.Type">
			<id property="id" column="pid"/>
  			<result property="typeName" column="type_name"/>
		</association>
	</resultMap>
	
	<select id="queryAll" resultMap="bookResultMap">
		select 
		b.id,b.book_name,
		c.id cid,c.country_name,
		t.id tid,t.theme_name,
		p.id pid,p.type_name,
		b.space,
		b.book_count,
		b.info,
		b.create_date
		from 
		lib_book b 
		LEFT JOIN lib_country c on b.country_id=c.id 
		LEFT JOIN lib_theme t on b.theme_id=t.id
		LEFT JOIN lib_type p on b.type_id=p.id
		order by b.create_date desc
	</select>
	
	<select id="queryById" resultMap="bookResultMap" parameterType="int">
		select 
		b.id,b.book_name,
		c.id cid,c.country_name,
		t.id tid,t.theme_name,
		p.id pid,p.type_name,
		b.space,
		b.book_count,
		b.info,
		b.create_date
		from 
		lib_book b 
		LEFT JOIN lib_country c on b.country_id=c.id 
		LEFT JOIN lib_theme t on b.theme_id=t.id
		LEFT JOIN lib_type p on b.type_id=p.id
		where b.id=#{id}
		for update
	</select>
	
	<select id="queryAllDivPage" resultMap="bookResultMap">
		select 
		b.id,b.book_name,
		c.id cid,c.country_name,
		t.id tid,t.theme_name,
		p.id pid,p.type_name,
		b.space,
		b.book_count,
		b.info,
		b.create_date
		from 
		lib_book b , lib_country c , lib_theme t , lib_type p 
		where 
		b.country_id=c.id 
		and
		b.theme_id=t.id
		and 
		b.type_id=p.id
		order by b.create_date desc
		limit #{current},#{size}
	</select>
	
	<select id="queryByNameLike" resultMap="bookResultMap" >
		select 
		b.id,b.book_name,
		c.id cid,c.country_name,
		t.id tid,t.theme_name,
		p.id pid,p.type_name,
		b.space,
		b.book_count,
		b.info,
		b.create_date
		from 
		lib_book b 
		LEFT JOIN lib_country c on b.country_id=c.id 
		LEFT JOIN lib_theme t on b.theme_id=t.id
		LEFT JOIN lib_type p on b.type_id=p.id
		<where>
			<if test="name!=null">
				b.book_name like "%"#{name}"%"
			</if>
			<if test="country_id!=0">
				and b.country_id=#{country_id}
			</if>
			<if test="theme_id!=0">
				and b.theme_id=#{theme_id}
			</if>
			<if test="space!=null">
				and space=#{space}
			</if>
			<if test="type_id!=0">
				and b.type_id=#{type_id}
			</if>
		</where>
		order by b.create_date desc
	</select>
	
	<select id="queryByNameLikeDivPage" resultMap="bookResultMap" >
		select 
		b.id,b.book_name,
		c.id cid,c.country_name,
		t.id tid,t.theme_name,
		p.id pid,p.type_name,
		b.space,
		b.book_count,
		b.info,
		b.create_date
		from 
		lib_book b 
		LEFT JOIN lib_country c on b.country_id=c.id 
		LEFT JOIN lib_theme t on b.theme_id=t.id
		LEFT JOIN lib_type p on b.type_id=p.id
		<where>
			<if test="name!=null">
				b.book_name like "%"#{name}"%"
			</if>
			<if test="country_id!=0">
				and b.country_id=#{country_id}
			</if>
			<if test="theme_id!=0">
				and b.theme_id=#{theme_id}
			</if>
			<if test="space!=null">
				and space=#{space}
			</if>
			<if test="type_id!=0">
				and b.type_id=#{type_id}
			</if>
		</where>
		order by b.create_date desc
		limit #{current},#{size}
	</select>
	
	<insert id="newBook" parameterType="com.wyu.entity.Book">
		insert into 
		lib_book(book_name,country_id,theme_id,type_id,space,book_count,info,create_date) 
		values
		(#{bookName},#{country.id},#{theme.id},#{type.id},#{space},#{bookCount},#{info},#{createDate})
	</insert>
	<delete id="deleteById" parameterType="int">
		delete from lib_book where id=#{id}
	</delete>
	<update id="updateBook" parameterType="com.wyu.entity.Book">
		update 
		lib_book 
		<set>
			<if test="bookName!=null">
				book_name=#{bookName},
			</if>
			<if test="country!=null">
				country_id=#{country.id},
			</if>
			<if test="theme!=null">
				theme_id=#{theme.id},
			</if>
			<if test="type!=null">
				type_id=#{type.id},
			</if>
			<if test="space!=null">
				space=#{space},
			</if>
			<if test="bookCount!=null">
				book_count=#{bookCount},
			</if>
			<if test="info!=null">
				info=#{info}
			</if>
		</set>
		where id=#{id}
	</update>
	
</mapper>