<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyu.dao.UserInfoMapper">
    <resultMap id="userInfoMap" type="com.wyu.entity.UserInfo">
        <id property="id" column="id"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="telephone" column="telephone"/>
        <result property="address" column="address"/>
        <result property="personalDesc" column="personal_desc"/>
        <result property="picture" column="picture"/>
        <association property="user" column="user_id"
                     javaType="com.wyu.entity.User">
            <id column="uid" property="id" />
            <result column="username" property="username" />
            <result column="borrow_count" property="borrowCount" />
            <result column="register_time" property="registerTime" />
            <result column="credit" property="credit" />
            <result column="status" property="status" />
        </association>
    </resultMap>
   <select id="findUserInfoByUserId" parameterType="java.lang.Integer" resultMap="userInfoMap">
     SELECT
     ui.id,
     ui.age,
     ui.sex,
     ui.birthday,
     ui.nickname,
     ui.email,
     ui.telephone,
     ui.address,
     ui.personal_desc,
     ui.picture,
     u.id uid,
     u.username,
     u.borrow_count,
     u.register_time,
     u.status,
     u.credit
     FROM
     lib_user_info ui,
     lib_user u
     WHERE
     ui.user_id = u.id
     AND
     ui.user_id = #{userId}
    </select>
    <select id="findUserInfoById" parameterType="java.lang.Integer" resultMap="userInfoMap">
        SELECT
        ui.id,
        ui.age,
        ui.sex,
        ui.birthday,
        ui.nickname,
        ui.email,
        ui.telephone,
        ui.address,
        ui.personal_desc,
        ui.picture,
        u.id uid,
        u.username,
        u.borrow_count,
        u.register_time,
        u.status,
        u.credit
        FROM
        lib_user_info ui,
        lib_user u
        WHERE
        ui.user_id = u.id
        AND
        ui.id = #{id}
    </select>
    <insert id="insertUserInfo" parameterType="com.wyu.entity.UserInfo"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
        lib_user_info(user_id,age,sex,birthday,nickname,email,telephone,address,personal_desc,picture)
        VALUES
        (#{user.id},#{age},#{sex},#{birthday},#{nickname},#{email},#{telephone},#{address},#{personalDesc},#{picture})
    </insert>

    <delete id="deleteUserInfoById" parameterType="java.lang.Integer">
        DELETE FROM
        lib_user_info
        WHERE id=#{userInfoId}
    </delete>

    <update id="updateUserInfo" parameterType="com.wyu.entity.UserInfo" keyProperty="id" useGeneratedKeys="true">
        UPDATE lib_user_info
        <set>
            <if test="age != null">age=#{age},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="birthday != null">birthday=#{birthday},</if>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="email != null">email=#{email},</if>
            <if test="address != null">address=#{address},</if>
            <if test="personalDesc != null">personal_desc=#{personalDesc},</if>
            <if test="picture != null">picture=#{picture},</if>
            <if test="telephone != null">telephone=#{telephone}</if>
        </set>
        WHERE id = #{id};
    </update>

    <select id="queryUserInfo"  resultMap="userInfoMap">
        SELECT
        ui.id,
        ui.age,
        ui.sex,
        ui.birthday,
        ui.nickname,
        ui.email,
        ui.telephone,
        ui.address,
        ui.personal_desc,
        ui.picture,
        u.id uid,
        u.username,
        u.borrow_count,
        u.register_time,
        u.status,
        u.credit
        FROM
        lib_user_info ui,
        lib_user u
        <where>
            <if test="userInfoCondition.age != null ">
                and ui.age = #{userInfoCondition.age}
            </if>
            <if test="userInfoCondition.sex != null ">
                and ui.sex = #{userInfoCondition.sex}
            </if>
            <if test="userInfoCondition.birthday != null ">
                and ui.birthday = #{userInfoCondition.birthday}
            </if>
            <if test="userInfoCondition.nickname != null ">
                and ui.nickname like '%${userInfoCondition.nickname}%'
            </if>
            <if test="userInfoCondition.user != null and
			userInfoCondition.user.borrowCount != null">
                and u.borrow_count =
                #{userInfoCondition.user.borrowCount}
            </if>
            <if test="userInfoCondition.user != null and
			userInfoCondition.user.credit != null">
                and u.credit =
                #{userInfoCondition.user.credit}
            </if>
            <if test="userInfoCondition.user != null and
			userInfoCondition.user.status != null">
                and u.status =
                #{userInfoCondition.user.status}
            </if>
            AND
            ui.user_id = u.id
        </where>
        ORDER BY
        ui.id DESC
        LIMIT #{rowIndex},#{pageSize};
    </select>


    <select id="queryUserInfoCount"  resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        lib_user_info ui,
        lib_user u
        <where>
            <if test="userInfoCondition.age != null ">
                and ui.age = #{userInfoCondition.age}
            </if>
            <if test="userInfoCondition.sex != null ">
                and ui.sex = #{userInfoCondition.sex}
            </if>
            <if test="userInfoCondition.birthday != null ">
                and ui.birthday = #{userInfoCondition.birthday}
            </if>
            <if test="userInfoCondition.nickname != null ">
                and ui.nickname like '%${userInfoCondition.nickname}%'
            </if>
            <if test="userInfoCondition.user != null and
			userInfoCondition.user.borrowCount != null">
                and u.borrow_count =
                #{userInfoCondition.user.borrowCount}
            </if>
            <if test="userInfoCondition.user != null and
			userInfoCondition.user.credit != null">
                and u.credit =
                #{userInfoCondition.user.credit}
            </if>
            <if test="userInfoCondition.user != null and
			userInfoCondition.user.status != null">
                and u.status =
                #{userInfoCondition.user.status}
            </if>
            AND
            ui.user_id = u.id
        </where>

    </select>
</mapper>